<p>{{ text }}</p>
<div id="mapid"></div>
<script>
  console.log("{{{text}}}")
      // Andorra
      var map = L.map("mapid").setView([42.50903, 1.53605], 18);
      // Rovinj
      //- var map = L.map("mapid").setView([45.0808344, 13.6383927], 8);

      L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        attribution:
          '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
      }).addTo(map);

  L.circle([42.50903, 1.53605], {radius: 1000, color: "#EE4B2B"}).addTo(map);

  const bounds = JSON.parse("{{{bounds}}}");
  console.log(bounds)
  L.rectangle(bounds).addTo(map);
   
</script>